@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

.btn-primary{
    border: none;
    border-radius: 8px;
    background-color: #FF5400;
    padding: 16px 35px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-weight: 700;
    justify-content: center;
}

/* header section */

header{
    width: 80%;
    height: auto;
    margin: auto;
}

/* <!-- navigation var sectionn --> */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.nav-bar{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav .agencyname{
    font-size: 2.25rem;
    font-weight: 800;
}

.nav .agencyname span{
    color: #FF5400;
}

.hamburgermenu{
    display: none;
}


/* menu sectionn */

.menubar{
    display: flex;
    gap: 40px;
}

.menubar li{
    list-style-type: none;
}

.menubar li a{
    text-decoration: none;
    text-align: center;
    color: #424247;
    margin: 10px;
    transition: all 0.2s linear;
}

.menubar li a:hover{
    color: #FF5400;
    font-weight: 700;
}


/* bannerr sectionn */

.banner{
    position: relative;
}

.banner img{
    width: 100%;
    height: 500px;
    position: absolute;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);

}

.banner-content{
    width: 100%;
    height: 500px;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-content h1{
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
}

.banner-content>p{
    color: #FFF;
    line-height: 26px;
    text-align: center;
    max-width: 700px;
    padding: 24px 0;
}

.searchmenu{
    background: rgba(255, 255, 255, 0.30); 
    display: flex;
    gap: 24px;
    padding: 16px;
    border-radius: 8px;
}

.searchmenu input, .searchmenu select{
    box-sizing: border-box;
    width: 174px;
    height: 52px;
    padding: 16px;
    color: rgba(19, 19, 24, 0.50);
    border: none;
    border-radius: 8px;
}

/* <!-- our popular tour sectionn --> */

main{
    width: 80%;
    margin: 600px auto 100px auto;
}

.first-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.first-content{
    width: 40%;
}

.first-content h1{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.first-content p{
    line-height: 26px;
    color: rgba(19, 19, 24, 0.70);
    padding: 24px 0;
}

.first-content li{
    line-height: 26px;
    color: rgba(19, 19, 24, 0.70);
}

.first-content ul{
    padding-left: 20px;
}
/* destinationn sectionn */

.gridd{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    margin: 24px 0;
}
.gridd span{
    position: relative;
}

.row1 span>p, .row2 span>p, .row3 span>p{
    position: absolute;
    font-family: Mulish;
    z-index: 3;
    top: 40%;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
    right: 40%;
}

.row2 span>p{
    right: 30%
}

.row3 span>p{
    right: 35%;
}

.destination-section{
    text-align: center;
    margin: 100px auto;
}

.destination-section h1{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.destination-section p{
    color: rgba(19, 19, 24, 0.70);
    padding: 24px 0;
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* .section__header{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    align-items: center;
} */
.row1{
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}
.row2{
    display: flex;
    grid-template-columns: 1fr 1.5fr 0.7fr;
    gap: 24px;
}
.row3{
    display: flex;
    grid-template-columns: 1fr 2fr;
    gap: 24px;
}

/* bonus sectionn */

.service__grid {
    margin-top: 4rem;
    display: grid;
    gap: 1rem;
  }
  
  .service__card {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    border-radius: 2px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
  }
  
  .service__card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  }
  
  .service__card img {
    max-width: 300px;
    margin: auto;
    border-radius: 2px;
  }
  
  .service__card > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .service__card h4 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 800;
    color:black;
  }
  
  .service__card p {
    margin-bottom: 0.5rem;
    color:blueviolet;
  }
  
  .service__btn {
    text-align: right;
  }

/* why choose us sectionn*/

.choice{
    display: flex;
    gap: 24px;
}
.choose-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top:100px;
}

.choose-content h1{
    font-size: 2.5rem;
    color: #131318;
    font-weight: 800;
    text-align: center;
}

.choose-content p{
    width: 600px;
    text-align: center;
    line-height: 26px;
}

.choose-us{
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.choose-us1{
    width: 570px;
    height: 280px;
    padding: 32px 55px 32px 32px;
}

.choose-us1a{
    width: 573px;
    height: 284px;
    padding: 24px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.choose-us1a img,.choose-us1a h2,.choose-us1a p{
    padding-bottom: 32px;
}
.choose-us1b img,.choose-us1b h2,.choose-us1b p{
    padding-bottom: 32px;
}

.choose-us1b{
   
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    width: 573px;
    height: 284px;
    padding: 24px;
    

}

.choose-us1c{
    width: 573px;
    height: 284px;
    padding: 32px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
.choose-us1 img{
    padding: 16px 0;
}

.choose-us1 h2{
    color: #131318;
    padding: 16px 0;
    font-size: 1.5rem;
}

.choose-us1 p{
    color: #5A5A5D;
    line-height: 26px;
}

/* <!-- newsletter sectionn --> */

.newsletter-section{
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-around;
    margin: 100px 0;
}

.newsletter-form h4{
    font-size: 1.5rem;
    font-weight: 800;
    color: #131318;
}

.newsletter-form{
    box-sizing: border-box;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 42px;
    height: 424px;
}

.newsletter-form p{
    line-height: 26px;
    padding: 24px 0;
}

.newsletter-form hr{
    border: 1px solid rgba(19, 19, 24, 0.10);
}

.newsletter-form form{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 20px 0;
}

.newsletter-form form input{
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    width: 390px;
    height: 50px;
    box-sizing: border-box;
    padding: 20px;
    border: none;
}
.newsletter-section .save{
    position: relative;
}
.newsletter-section save img{
    position: absolute;
}

.newsletter-section .attached{
    position: absolute;
    border-radius: 16px;
    background: #FF5400;
    padding: 16px;
    width: fit-content;
    text-align: center;
    color: #FFF;
    bottom: 18%;
    right: -1%;
    transform:  rotate(-55deg);;
}

/* footerr sectionn */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(19, 19, 24, 0.05);
    padding: 100px 0;
    text-align: center;
}

footer p{
    color: #5A5A5D;
    line-height: 26px;
    padding: 20px;
}
footer .social-sign{
    display: flex;
    gap: 30px;
    font-size: 1.5rem;
    margin: 10px;
}

footer hr{
    border: 1px solid rgba(19, 19, 24, 0.10);
    width: 70%;
    margin: 10px;
}

footer .copyright{
    padding: 20px 0;
    color: #131318;
}

/*  media query sectionn */

@media screen and (max-width:600px) {

   
    .menu{
        display: none;
    }

    .searchmenu, .first-container{
        flex-direction: column;
        gap: 30px;
    }
    
    .hamburgermenu{
        display: block;
    }
    .banner img,.banner-content{
        height: 700px;
    }

    .banner-content h1, .first-content h1,.choose-content h1{
        font-size: 1.375rem;
    }
    .banner-content p, .first-content p, .first-content li,.choose-content p{ 
        font-size: 0.875rem;
        width: 80%;
    }

    .searchmenu{
        width: 80%;
    }

    .searchmenu input, .searchmenu select{
        width: auto;
    }

    main{
        margin:100px auto;
    }

    .first-content{
        width: 100%;
    }

    .first-container img{
        width: 90vw;
    }
    .gridd img{
        width: 90vw;
    }

    .gridd img{
        width: 90vw;
        height: 300px;
    }
    .row1,.row2,.row3{
        flex-direction: column;
    }

    .row1 span>p, .row2 span>p, .row3 span>p{
        top:40%;
        right: 40%;
    }

    .row2 span>p{
        right: 35%;
        top: 35%
    }

    .row3 span>p{
        right: 35%;
    }
    .choice{
        display: flex;
        /* gap: 24px; */
        flex-direction: column;
        flex-wrap: nowrap;
    }
   
    .newsletter-section {
        display: flex;
        align-items: flex-start;
        gap: 30px;
        justify-content: space-around;
        margin: 100px 0;
        flex-direction: column;
    }
    .newsletter-section img{
        width: fit-content;
        /* padding-right: 150px; */
    } 
    .menubar{
        flex-direction: column;
        display: none;
    }
    .nav-bar{
        flex-direction: row;
        align-items: center;
    }
    nav{
        flex-direction: row;
        /* gap:20px; */
        justify-content: space-between;
    }
.banner{
    height: 700px;
}
.menubar>i{
    display: none;

}

.choose-us1a,.choose-us1b,.choose-us1c{
    width: 335px;
    margin-left: 30px;
}
.newsletter-section img {
    width: 470px;
}
    
.newsletter-section .attached{
    bottom: 22%;
    padding: 15px;
}
}